In [14]:
#Proses import pustaka yang digunakan
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
#Proses loading data
df = pd.read_csv("covid_19.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16283 entries, 0 to 16282
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         16283 non-null  object
 1   Location ISO Code            16283 non-null  object
 2   Location                     16283 non-null  object
 3   New Cases                    16283 non-null  int64
 4   New Deaths                   16283 non-null  int64
 5   New Recovered                16283 non-null  int64
 6   New Active Cases             16283 non-null  int64
 7   Total Cases                  16283 non-null  int64
 8   Total Deaths                 16283 non-null  int64
 9   Total Recovered              16283 non-null  int64
 10  Total Active Cases           16283 non-null  int64
 11  Location Level               16283 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     15788 non-null  object
 14  Country                      16283 non-null  object
 15  Continent                    16283 non-null  object
 16  Island                       15788 non-null  object
 17  Time Zone                    15788 non-null  object
 18  Special Status               2393 non-null   object
 19  Total Regencies              16283 non-null  int64
 20  Total Cities                 15814 non-null  float64
 21  Total Districts              16283 non-null  int64
 22  Total Urban Villages         15812 non-null  float64
 23  Total Rural Villages         15787 non-null  float64
 24  Area (km2)                   16283 non-null  int64
 25  Population                   16283 non-null  int64
 26  Population Density           16283 non-null  float64
 27  Longitude                    16283 non-null  float64
 28  Latitude                     16283 non-null  float64
 29  New Cases per Million        16283 non-null  float64
 30  Total Cases per Million      16283 non-null  float64
 31  New Deaths per Million       16283 non-null  float64
 32  Total Deaths per Million     16283 non-null  float64
 33  Case Fatality Rate           16283 non-null  object
 34  Case Recovered Rate          16283 non-null  object
 35  Growth Factor of New Cases   15298 non-null  float64
 36  Growth Factor of New Deaths  14344 non-null  float64
 37  Name                         0 non-null      float64
 38  Item                         0 non-null      float64
 39  Kind                         0 non-null      float64
 40  Hidden                       0 non-null      float64
dtypes: float64(17), int64(12), object(12)
memory usage: 5.1+ MB

In [3]:
#Pengecekan statistika dasar pada dataframe
df.describe()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,Total Regencies,...,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Growth Factor of New Cases,Growth Factor of New Deaths,Name,Item,Kind,Hidden
count,16283.000000,16283.000000,16283.000000,16283.000000,1.628300e+04,16283.000000,1.628300e+04,16283.000000,0.0,16283.000000,...,16283.000000,16283.000000,16283.000000,16283.000000,15298.000000,14344.000000,0.0,0.0,0.0,0.0
mean,301.271879,7.919364,248.015783,45.336732,4.274674e+04,1243.917644,3.689427e+04,4608.549714,NaN,24.792913,...,20.673622,2977.160052,0.463346,72.462398,1.437652,1.084872,NaN,NaN,NaN,NaN
std,1330.028199,32.171434,997.784905,550.203700,1.784936e+05,4944.634529,1.580017e+05,17670.075450,NaN,69.658831,...,45.319811,4987.373956,1.096785,99.203343,3.388187,1.949005,NaN,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,-8381.000000,1.000000e+00,0.000000,0.000000e+00,-2395.000000,NaN,1.000000,...,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,6.000000,0.000000,2.000000,-7.000000,7.265000e+02,23.000000,3.860000e+02,162.500000,NaN,8.000000,...,1.645000,166.695000,0.000000,4.980000,0.640000,0.670000,NaN,NaN,NaN,NaN
50%,39.000000,1.000000,24.000000,2.000000,5.941000e+03,149.000000,4.484000e+03,851.000000,NaN,12.000000,...,7.670000,1398.640000,0.110000,41.380000,1.000000,1.000000,NaN,NaN,NaN,NaN
75%,127.000000,4.000000,106.000000,32.000000,1.777450e+04,556.000000,1.430450e+04,2271.000000,NaN,18.000000,...,21.870000,3817.535000,0.550000,93.520000,1.330000,1.000000,NaN,NaN,NaN,NaN
max,38391.000000,1040.000000,28975.000000,18504.000000,2.455912e+06,64631.000000,2.023548e+06,367733.000000,NaN,416.000000,...,1208.910000,58673.660000,63.800000,854.680000,175.000000,134.500000,NaN,NaN,NaN,NaN

In [12]:
#Perhitungan Measure of Central Tendency yaitu Mean, Median dan Mode, kami juga menambahkan nilai min dan max
#Untuk kolom yang kami gunakan pada kesempatan ini adalah kolom New Cases
print("Nilai Mean :",df['New Cases'].mean())
print("Nilai Median :",df['New Cases'].median())
print("Nilai Mode :",df['New Cases'].mode()[0])
print("Nilai Min :",df['New Cases'].min())
print("Nilai Max :",df['New Cases'].max())

Nilai Mean : 301.27187864644105
Nilai Median : 39.0
Nilai Mode : 0
Nilai Min : 0
Nilai Max : 38391

In [17]:
#Perhitungan Measure of Central Tendency yaitu Range, Variance dan Standard Deviation, kami juga menambahkan nilai Quartiles
print("Nilai Range :",df['New Cases'].max()-df['New Cases'].min())
print("Nilai Variance :",df['New Cases'].var())
print("Nilai Std Dev :",df['New Cases'].std())
print(df['New Cases'].quantile([0.25, 0.5, 0.75]))

Nilai Range : 38391
Nilai Variance : 1768975.0113863915
Nilai Std Dev : 1330.028199470369
0.25      6.0
0.50     39.0
0.75    127.0
Name: New Cases, dtype: float64